<div class="container text-center mt-3">
  <div class="row justify-content-md-center">
    <div class="col-6">
      <h1>Update the info of this flat: <%= @flat.name %></h1>
      <%= render "form", flat: @flat %>
    </div>
  </div>
</div>
