<div class="container text-center mt-3">
  <div class="row justify-content-md-center">
    <div class="col-6">
      <h1>Add a new flat in the list:</h1>
      <%= render "form", flat: @flat %>
    </div>
  </div>
</div>
